In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_ps = pd.read_csv('./data/googleplaystore.csv')
pd.set_option('display.max_row', 20)

df_ps.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [3]:
#delete NAN
df_ps = df_ps.dropna()

unique = df_ps['App'].unique()

len(unique)

8190

In [4]:
df_ps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
App               9360 non-null object
Category          9360 non-null object
Rating            9360 non-null float64
Reviews           9360 non-null object
Size              9360 non-null object
Installs          9360 non-null object
Type              9360 non-null object
Price             9360 non-null object
Content Rating    9360 non-null object
Genres            9360 non-null object
Last Updated      9360 non-null object
Current Ver       9360 non-null object
Android Ver       9360 non-null object
dtypes: float64(1), object(12)
memory usage: 585.0+ KB

In [5]:
df_ps_review = pd.read_csv('./data/googleplaystore_user_reviews.csv')
df_ps_review.head(10)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000
6,10 Best Foods for You,Amazing,Positive,0.60,0.900000
7,10 Best Foods for You,NaN,NaN,NaN,NaN
8,10 Best Foods for You,"Looking forward app,",Neutral,0.00,0.000000
9,10 Best Foods for You,It helpful site ! It help foods get !,Neutral,0.00,0.000000

In [6]:
df_ps_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
App                       64295 non-null object
Translated_Review         37427 non-null object
Sentiment                 37432 non-null object
Sentiment_Polarity        37432 non-null float64
Sentiment_Subjectivity    37432 non-null float64
dtypes: float64(2), object(3)
memory usage: 1.7+ MB

## A. All groups and individual must do the following

#### 1. Convert the app sizes to a number

In [7]:
# create new column Size (Megabite) from Size
df_ps['Size (Megabite)'] = df_ps['Size']

# understand Size column composition
k_bool = df_ps['Size'].str.extract(r"(\d*\S?\d*)[k]").notnull()[0]
k_values = df_ps['Size'].loc[k_bool != False]
print(k_values)

58       201k
209       23k
384       79k
450      118k
458      695k
768      556k
775      526k
1019     334k
1521     232k
1523     624k
         ...
10675     89k
10677    234k
10678    257k
10688    364k
10690    861k
10732    467k
10755    676k
10763    552k
10832    582k
10833    619k
Name: Size, Length: 257, dtype: object

In [8]:
m_bool = df_ps['Size'].str.extract(r"(\d*\S?\d*)[M]").notnull()[0]
m_values = df_ps['Size'].loc[m_bool != False]
print(m_values)

0         19M
1         14M
2        8.7M
3         25M
4        2.8M
5        5.6M
6         19M
7         29M
8         33M
9        3.1M
         ...
10819    3.6M
10820    8.6M
10827     13M
10828     13M
10829    7.4M
10830    2.3M
10834    2.6M
10836     53M
10837    3.6M
10840     19M
Name: Size, Length: 7466, dtype: object

In [9]:
# keeping indexis of k values 
k_index = df_ps['Size'].str.extractall(r"(\d*\S?\d*)[k]").index.get_level_values(0)
k_index

Int64Index([   58,   209,   384,   450,   458,   768,   775,  1019,  1521,
             1523,
            ...
            10675, 10677, 10678, 10688, 10690, 10732, 10755, 10763, 10832,
            10833],
           dtype='int64', length=257)

#### 3. Transform “Varies with device” into a missing value

In [10]:
# setting 'Varies with device' to nan
df_ps['Size'].loc[df_ps['Size'] == 'Varies with device'] = np.nan

c:\users\danie\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

#### Resuming ex. 1

In [11]:
# some data manipulation task: replace, set nan
df_ps['Size'].loc[df_ps['Size'] == '1,000+'] = np.nan
df_ps['Size'].replace('k', '', regex = True, inplace=True)
df_ps['Size'].replace('M', '', regex = True, inplace=True)

In [12]:
df_ps[df_ps == "Varies with device"].count() #checkig if there is others "Varies with device" inside

App                   0
Category              0
Rating                0
Reviews               0
Size                  0
Installs              0
Type                  0
Price                 0
Content Rating        0
Genres                0
Last Updated          0
Current Ver        1415
Android Ver        1319
Size (Megabite)    1637
dtype: int64

In [13]:
df_ps["Size"].str.extractall(r"([A-Za-z])", flags = re.IGNORECASE ).count() #checking if there are other letters

0    0
dtype: int64

In [14]:
# casting Size colum to float type
df_ps['Size'] = df_ps['Size'].astype('float') 
# casting kilobyte to megabyte
df_ps['Size'].loc[k_index] = (df_ps["Size"].loc[k_index]/1000)

#### 2. Convert the number of installs to a number

In [15]:
#checking if there are other letters in Installs
df_ps["Installs"].str.extractall(r"([A-z])", flags = re.IGNORECASE ).count()

0    0
dtype: int64

In [16]:
df_ps['Installs'].str.extractall(r"([A-Za-z])")

Empty DataFrame
Columns: [0]
Index: []

In [17]:
df_ps["Installs"].str.extractall(r"([^0-9\,])")

             0
      match
0     0      +
1     0      +
2     0      +
3     0      +
4     0      +
5     0      +
6     0      +
7     0      +
8     0      +
9     0      +
...         ..
10828 0      +
10829 0      +
10830 0      +
10832 0      +
10833 0      +
10834 0      +
10836 0      +
10837 0      +
10839 0      +
10840 0      +

[9360 rows x 1 columns]

In [18]:
# removing '+' sign and ','
df_ps["Installs"].replace("\+|,", value = "", regex = True, inplace = True)

In [19]:
# some data preparation task
df_ps['Installs'].loc[df_ps['Installs'] == 'Free'] = np.nan
# cast Installs column from string to int64
df_ps['Installs'] = pd.to_numeric(df_ps["Installs"])

#### 4. Convert Current Ver and Android Ver into a dotted number (e.g. 4.0.3 or 4.2)

In [20]:
# deleting any letter from Android Ver and Current Ver in order to leave only the numerical part
df_ps["Android Ver"].replace("[a-z]+|[A-z]+", value = "", regex = True, inplace = True)
df_ps["Current Ver"].replace("[a-z]+|[A-z]+", value = "", regex = True, inplace = True)
# deleting also the last '.' if any
df_ps["Current Ver"].replace(r"(\.+$)", value = "", regex = True, inplace = True)

In [21]:
df_ps['Current Ver'].head(30)

0           1.0.0
1           2.0.0
2           1.2.4
3
4             1.1
5             1.0
6             1.1
7        6.1.61.1
8           2.9.2
9             2.8
         ...
21            1.1
22        2.2.6.2
24          1.1.3
25            1.5
26          1.0.8
27           1.03
28            6.0
29            1.0
30    6.7.12.2018
31            1.2
Name: Current Ver, Length: 30, dtype: object

In [22]:
df_ps['Android Ver'].head(30)

0     4.0.3
1     4.0.3
2     4.0.3
3       4.2
4       4.4
5       2.3
6     4.0.3
7       4.2
8       3.0
9     4.0.3
       ...
21    4.0.3
22    4.0.3
24      4.1
25      3.0
26    4.0.3
27    4.0.3
28      2.3
29      2.3
30    4.0.3
31      2.3
Name: Android Ver, Length: 30, dtype: object

#### 5. Remove the duplicates

In [23]:
# count row before drop duplicates
df_ps.shape

(9360, 14)

In [24]:
# dropping duplicates rows
df_ps.drop_duplicates(inplace=True)

In [25]:
# check if we dropped something
df_ps.shape

(8886, 14)

In [26]:
df_ps[df_ps["App"] == "Coloring book moana"] #check the indexes of this App

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size (Megabite)
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3,14M
2033,Coloring book moana,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3,14M

In [27]:
df_ps["Reviews"] = pd.to_numeric(df_ps["Reviews"]) #they are in a string 

#group the Apps with the most updated reviews
df_ps = df_ps.loc[df_ps.groupby('App', as_index = False, sort = False)['Reviews'].idxmax()]

#check it after the groupby. It works because it's kept the right index
df_ps[df_ps["App"] == "Coloring book moana"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size (Megabite)
2033,Coloring book moana,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3,14M

#### 6. For each category, compute the number of apps

In [28]:
df_ps.groupby(df_ps['Category'], as_index = False)['App'].count()

               Category  App
0        ART_AND_DESIGN   58
1     AUTO_AND_VEHICLES   73
2                BEAUTY   42
3   BOOKS_AND_REFERENCE  169
4              BUSINESS  263
5                COMICS   54
6         COMMUNICATION  256
7                DATING  133
8             EDUCATION  106
9         ENTERTAINMENT   87
..                  ...  ...
23      PERSONALIZATION  296
24          PHOTOGRAPHY  263
25         PRODUCTIVITY  301
26             SHOPPING  180
27               SOCIAL  203
28               SPORTS  260
29                TOOLS  719
30     TRAVEL_AND_LOCAL  187
31        VIDEO_PLAYERS  149
32              WEATHER   72

[33 rows x 2 columns]

#### 7. For each category, compute the average rating

In [29]:
df_ps.groupby(df_ps['Category'], as_index = False)['Rating'].mean()

               Category    Rating
0        ART_AND_DESIGN  4.379310
1     AUTO_AND_VEHICLES  4.190411
2                BEAUTY  4.278571
3   BOOKS_AND_REFERENCE  4.344970
4              BUSINESS  4.098479
5                COMICS  4.181481
6         COMMUNICATION  4.121484
7                DATING  3.980451
8             EDUCATION  4.354717
9         ENTERTAINMENT  4.129885
..                  ...       ...
23      PERSONALIZATION  4.331419
24          PHOTOGRAPHY  4.155894
25         PRODUCTIVITY  4.183389
26             SHOPPING  4.230556
27               SOCIAL  4.247291
28               SPORTS  4.216154
29                TOOLS  4.040056
30     TRAVEL_AND_LOCAL  4.069519
31        VIDEO_PLAYERS  4.044966
32              WEATHER  4.243056

[33 rows x 2 columns]

#### 8. Create two dataframes: one for the genres and one bridging apps and genres. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

In [30]:
# I create a new dataframe with only the columns of interest
df_genres = df_ps[["Genres"]]
#checking the value count
df_genres['Genres'].value_counts()

Tools                                718
Entertainment                        471
Education                            429
Finance                              302
Productivity                         301
Lifestyle                            300
Personalization                      296
Action                               292
Medical                              290
Sports                               266
                                    ...
Puzzle;Education                       1
Parenting;Brain Games                  1
Adventure;Education                    1
Adventure;Brain Games                  1
Role Playing;Brain Games               1
Music & Audio;Music & Video            1
Tools;Education                        1
Communication;Creativity               1
Art & Design;Pretend Play              1
Travel & Local;Action & Adventure      1
Name: Genres, Length: 114, dtype: int64

In [31]:
#splits the genres after the ";" to have a series divided into multindexes: 0 and 1
gens = df_genres['Genres'].str.split(";", expand = True)
df_genres['Genres_1'] = gens[0]
df_genres['Genres_2'] = gens[1]
df_genres.drop(['Genres'], axis=1, inplace = True)
df_genres

c:\users\danie\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\danie\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\danie\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

                Genres_1      Genres_2
0           Art & Design          None
2033        Art & Design  Pretend Play
2           Art & Design          None
3           Art & Design          None
4           Art & Design    Creativity
5           Art & Design          None
6           Art & Design          None
7           Art & Design          None
8           Art & Design          None
9           Art & Design    Creativity
...                  ...           ...
10828             Comics          None
10829  Books & Reference          None
10830   News & Magazines          None
10832            Weather          None
10833  Books & Reference          None
10834          Education          None
10836          Education          None
10837          Education          None
10839  Books & Reference          None
10840          Lifestyle          None

[8190 rows x 2 columns]

In [32]:
# create the App dataframe
df_app = df_ps[['App']]
df_app.head()

                                                    App
0        Photo Editor & Candy Camera & Grid & ScrapBook
2033                                Coloring book moana
2     U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                 Sketch - Draw & Paint
4                 Pixel Draw - Number Art Coloring Book

In [33]:
df_genres.head()

          Genres_1      Genres_2
0     Art & Design          None
2033  Art & Design  Pretend Play
2     Art & Design          None
3     Art & Design          None
4     Art & Design    Creativity

In [34]:
# gettin one column for genres
# merge apps with genres and then melt them by app column
# melt is useful for having only one column for genres 
df_app_gen = pd.merge(df_app, df_genres, left_index = True, right_index = True)\
               .melt(id_vars = ['App'], value_name = "Genres").drop(columns = "variable") 
df_app_gen

                                                     App        Genres
0         Photo Editor & Candy Camera & Grid & ScrapBook  Art & Design
1                                    Coloring book moana  Art & Design
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  Art & Design
3                                  Sketch - Draw & Paint  Art & Design
4                  Pixel Draw - Number Art Coloring Book  Art & Design
5                             Paper flowers instructions  Art & Design
6                Smoke Effect Photo Maker - Smoke Editor  Art & Design
7                                       Infinite Painter  Art & Design
8                                   Garden Coloring Book  Art & Design
9                          Kids Paint Free - Drawing Fun  Art & Design
...                                                  ...           ...
16370                            Manga-FR - Anime Vostfr          None
16371                     Bulgarian French Dictionary Fr          None
16372                                  News Minecraft.fr          None
16373                                           FR Tides          None
16374                                        Chemin (fr)          None
16375                                      FR Calculator          None
16376                                   Sya9a Maroc - FR          None
16377                   Fr. Mike Schmitz Audio Teachings          None
16378                      The SCP Foundation DB fr nn5n          None
16379      iHoroscope - 2018 Daily Horoscope & Astrology          None

[16380 rows x 2 columns]

In [35]:
# drop N/A values
df_app_gen = df_app_gen.dropna() #delete the remaining NAN
df_app_gen

                                                     App        Genres
0         Photo Editor & Candy Camera & Grid & ScrapBook  Art & Design
1                                    Coloring book moana  Art & Design
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  Art & Design
3                                  Sketch - Draw & Paint  Art & Design
4                  Pixel Draw - Number Art Coloring Book  Art & Design
5                             Paper flowers instructions  Art & Design
6                Smoke Effect Photo Maker - Smoke Editor  Art & Design
7                                       Infinite Painter  Art & Design
8                                   Garden Coloring Book  Art & Design
9                          Kids Paint Free - Drawing Fun  Art & Design
...                                                  ...           ...
15669                            Lire avec Sami et Julie     Education
15678                               Beauty and the Beast    Creativity
15853                     Ey Sey Storytime រឿងនិទានតាឥសី     Education
15944    Messenger Kids – Safer Messaging and Video Chat    Creativity
16076                        Disney Princess Palace Pets  Pretend Play
16080                                     PBS KIDS Games     Education
16107                     Dolphin and fish coloring book    Creativity
16156                           Cake Shop - Kids Cooking  Pretend Play
16162                            Hair saloon - Spa salon  Pretend Play
16177          Fairy Kingdom: World of Magic and Farming    Creativity

[8568 rows x 2 columns]

In [36]:
df_app_gen.info() #check composition of the dataframe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8568 entries, 0 to 16177
Data columns (total 2 columns):
App       8568 non-null object
Genres    8568 non-null object
dtypes: object(2)
memory usage: 133.9+ KB

In [37]:
# check if everything work fine
df_app_gen.loc[df_app_gen['App'] == "Pixel Draw - Number Art Coloring Book"]

                                        App        Genres
4     Pixel Draw - Number Art Coloring Book  Art & Design
8194  Pixel Draw - Number Art Coloring Book    Creativity

#### 9. For each genre, create a new column of the original dataframe. The new columns must have boolean values (True if the app has a given genre)

In [38]:
# concate of orignal df and the genres1 genres2 binaryzed columns
df_ps_2 = pd.concat([df_ps, pd.get_dummies(df_genres["Genres_1"], dtype = "bool")], axis=1).drop(['Genres'], axis=1)
df_ps_2 = pd.concat([df_ps_2, pd.get_dummies(df_genres["Genres_2"], dtype = "bool")], axis=1)

df_ps_2.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Last Updated', 'Current Ver', 'Android Ver',
       'Size (Megabite)', 'Action', 'Adventure', 'Arcade', 'Art & Design',
       'Auto & Vehicles', 'Beauty', 'Board', 'Books & Reference', 'Business',
       'Card', 'Casino', 'Casual', 'Comics', 'Communication', 'Dating',
       'Education', 'Educational', 'Entertainment', 'Events', 'Finance',
       'Food & Drink', 'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Maps & Navigation', 'Medical', 'Music', 'Music & Audio',
       'News & Magazines', 'Parenting', 'Personalization', 'Photography',
       'Productivity', 'Puzzle', 'Racing', 'Role Playing', 'Shopping',
       'Simulation', 'Social', 'Sports', 'Strategy', 'Tools', 'Travel & Local',
       'Trivia', 'Video Players & Editors', 'Weather', 'Word',
       'Action & Adventure', 'Brain Games', 'Creativity', 'Education',
       'Music & Video', 'Pretend Play'],
      dtype='object')

In [39]:
# checking if everthing works fine
df_ps_2[["App", "Art & Design", "Creativity"]].loc[df_ps_2['App'] == "Pixel Draw - Number Art Coloring Book"]

                                     App  Art & Design  Creativity
4  Pixel Draw - Number Art Coloring Book          True        True

#### 10. For each genre, compute the average rating. What is the genre with highest average?

In [40]:
#joining
df_ps_3 = df_app_gen.merge(df_ps, on = "App")
df_ps_3.drop(['Genres_y'], axis=1, inplace = True) # dropping unuseful columns
df_ps_3.head()

,App,Genres_x,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver,Size (Megabite)
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0,Everyone,"January 7, 2018",1.0.0,4.0.3,19M
1,Coloring book moana,Art & Design,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3,14M
2,Coloring book moana,Pretend Play,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3,14M
3,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Art & Design,ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0,Everyone,"August 1, 2018",1.2.4,4.0.3,8.7M
4,Sketch - Draw & Paint,Art & Design,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0,Teen,"June 8, 2018",,4.2,25M

In [41]:
df_ps_3.groupby('Genres_x', as_index=False, sort=False)[['Rating']].mean().head(10)

            Genres_x    Rating
0       Art & Design  4.368852
1       Pretend Play  4.238235
2         Creativity  4.306250
3    Auto & Vehicles  4.190411
4             Beauty  4.278571
5  Books & Reference  4.343275
6           Business  4.098479
7             Comics  4.181481
8      Communication  4.121790
9             Dating  3.980451

#### 11. For each app, compute the approximate income, obtain as a product of number of installs and price.

In [42]:
len(df_ps['App'].unique())

8190

In [43]:
# removing dollar $
df_ps["Price"].replace("\$+", value = "", regex = True,inplace = True)
# checkin if there are any char that is not a number or '.''
df_ps["Price"].str.extractall(r"([^0-9\.])")

Empty DataFrame
Columns: [0]
Index: []

In [44]:
df_ps["Price"].replace("Everyone", value = "", regex = True, inplace = True)

#casting to float
df_ps['Price'] = df_ps['Price'].astype(np.float)

df_ps.head(15)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size (Megabite)
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3,19M
2033,Coloring book moana,FAMILY,3.9,974,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3,14M
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3,8.7M
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,Art & Design,"June 8, 2018",,4.2,25M
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4,2.8M
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6,50000,Free,0.0,Everyone,Art & Design,"March 26, 2017",1.0,2.3,5.6M
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19.0,50000,Free,0.0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3,19M
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29.0,1000000,Free,0.0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2,29M
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33.0,1000000,Free,0.0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0,33M
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1,10000,Free,0.0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3,3.1M
10,Text on Photo - Fonteee,ART_AND_DESIGN,4.4,13880,28.0,1000000,Free,0.0,Everyone,Art & Design,"October 27, 2017",1.0.4,4.1,28M
11,Name Art Photo Editor - Focus n Filters,ART_AND_DESIGN,4.4,8788,12.0,1000000,Free,0.0,Everyone,Art & Design,"July 31, 2018",1.0.15,4.0,12M
12,Tattoo Name On My Photo Editor,ART_AND_DESIGN,4.2,44829,20.0,10000000,Free,0.0,Teen,Art & Design,"April 2, 2018",3.8,4.1,20M
13,Mandala Coloring Book,ART_AND_DESIGN,4.6,4326,21.0,100000,Free,0.0,Everyone,Art & Design,"June 26, 2018",1.0.4,4.4,21M
14,3D Color Pixel by Number - Sandbox Art Coloring,ART_AND_DESIGN,4.4,1518,37.0,100000,Free,0.0,Everyone,Art & Design,"August 3, 2018",1.2.3,2.3,37M

In [45]:
df_ps['Income'] = df_ps['Price'] * df_ps['Installs']
df_ps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size (Megabite),Income
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3,19M,0.0
2033,Coloring book moana,FAMILY,3.9,974,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3,14M,0.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3,8.7M,0.0
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,Art & Design,"June 8, 2018",,4.2,25M,0.0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4,2.8M,0.0

In [46]:
df_ps.groupby('App', as_index=False, sort=True)[['Income']].sum()

                                                    App     Income
0                         +Download 4 Instagram Twitter        0.0
1                            - Free Comics - Comic Apps        0.0
2                                                    .R        0.0
3                                                /u/app        0.0
4                                                058.ba        0.0
5                                        1. FC Köln App        0.0
6                                 10 Best Foods for You        0.0
7                         10 Minutes a Day Times Tables        0.0
8        10 WPM Amateur ham radio CW Morse code trainer      149.0
9                            10,000 Quotes DB (Premium)      495.0
...                                                 ...        ...
8180  乐屋网: Buying a house, selling a house, renting ...        0.0
8181  乗換NAVITIME　Timetable & Route Search in Japan T...        0.0
8182                                             日本AV历史        0.0
8183                漫咖 Comics - Manga,Novel and Stories        0.0
8184                                 英漢字典 EC Dictionary        0.0
8185                                        감성학원 BL 첫사랑        0.0
8186                                         💎 I'm rich  3999900.0
8187      💘 WhatsLov: Smileys of love, stickers and GIF        0.0
8188   📏 Smart Ruler ↔️ cm/inch measuring for homework!        0.0
8189   🔥 Football Wallpapers 4K | Full HD Backgrounds 😍        0.0

[8190 rows x 2 columns]

In [47]:
df_ps.loc[df_ps['App'] == "10,000 Quotes DB (Premium)"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size (Megabite),Income
8219,"10,000 Quotes DB (Premium)",BOOKS_AND_REFERENCE,4.1,70,3.5,500,Paid,0.99,Everyone,Books & Reference,"August 30, 2013",1.3,2.1,3.5M,495.0

#### 12. For each app, compute its minimum and maximum Sentiment_polarity

In [48]:
df_ps_review.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [49]:
df_ps_review.groupby('App', as_index=False)[['Sentiment_Polarity']].min().head()

                                App  Sentiment_Polarity
0             10 Best Foods for You             -0.8000
1  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室             -0.1125
2                              11st             -1.0000
3        1800 Contacts - Lens Store             -0.3000
4   1LINE – One Line with One Touch             -0.8250

In [50]:
df_ps_review.groupby('App', as_index=False)[['Sentiment_Polarity']].max().head()

                                App  Sentiment_Polarity
0             10 Best Foods for You            1.000000
1  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室            0.910000
2                              11st            1.000000
3        1800 Contacts - Lens Store            0.838542
4   1LINE – One Line with One Touch            1.000000